.section {
    margin: 3vw;
}

.swiper img {
    border-radius: 2vw;
}

.photo {
    position: relative;
}

.photo img {
    display: block;
    width: 100%;
    height: auto;
}

.photo-text {
    position: absolute;
    top: 2.5vw;
    font-size: 0.9vw;
    color: white;
    font-family: 'Inter', sans-serif;
    left: 2.5vw;
}

.photo-text h6 {
    font-size: 1.1vw;
}

.photo-text-1 {
    position: absolute;
    top: 2.5vw;
    font-size: 0.9vw;
    color: white;
    font-family: 'Inter', sans-serif;
    left: 2.5vw;
}

.photo-text-1 h6 {
    font-size: 1.2vw;
}

.photo-text-2 {
    color: black;
    position: absolute;
    top: 2.5vw;
    font-size: 0.9vw;
    font-family: 'Inter', sans-serif;
    left: 2.5vw;
    font-weight: 600;
}

.photo-text-2 h6 {
    font-size: 1.2vw;
}

.photo-text-3 {
    position: absolute;
    top: 2.5vw;
    font-size: 0.9vw;
    color: white;
    font-family: 'Inter', sans-serif;
    left: 2.5vw;
}

.photo-text-3 h6 {
    font-size: 1.2vw;
}

.photo-text-4 {
    position: absolute;
    top: 2.5vw;
    font-size: 0.9vw;
    color: black;
    font-family: 'Inter', sans-serif;
    left: 2.5vw;
}

.photo-text-4 h6 {
    font-size: 1.2vw;
}

.photo-text-5 {
    position: absolute;
    top: 2.5vw;
    font-size: 0.9vw;
    color: white;
    font-family: 'Inter', sans-serif;
    left: 2.5vw;
}

.photo-text-5 h6 {
    font-size: 1.2vw;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    bottom: 1vw;
    top: 100vw;
    right: 1vw;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    margin-right: 2vw;
}

.swiper-button-prev {
    right: 4.5vw; 
}

.swiper-button-prev img,
.swiper-button-next img {
    width: 100%;
    height: 100%;
}