.section {
    font-family: 'Inter', sans-serif;
}

.text {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.text h1 {
    font-size: 3vw;
}

.text p {
    font-size: 1.3vw;
}

.video {
    display: flex;
    justify-content: center;
}

video {
    border-radius: 2vw;
}

@media (max-width: 1280px) {
    .video {
        display: flex;
        justify-content: center;
        width: 48vw;
        height: 50vw;
        margin-left: 22.5vw;
    }
}